@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  scroll-behavior: smooth !important;
}

body {
  background: #00141B !important;
}

.ff_inter {
  font-family: 'Inter', sans-serif;
}

.ff_anton {
  font-family: 'Anton', sans-serif;
}

/* -------Header------ */

.bg_greenblack {
  background: #00141B !important;
}

.op_08 {
  opacity: 0.8;
}

.link_hov {
  transition: all .3s linear;
}

.link_hov:hover {
  opacity: 1;
}

.bg_dark {
  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(26px);
}

.bg_header {
  background-image: url('./assets/images/png/bg-header.png') !important;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.mw_210 {
  max-width: 210px !important;
}

.lh_160 {
  line-height: 160%;
}

.btn_acceso {
  border-radius: 41px;
  padding: 13px 46px;
  background-color: transparent;
  border: 1px solid #FFF;
  transition: all .3s linear;
}

.btn_white:hover .btn_acceso {
  background-color: #fff;
  color: black !important;
}

.gap_28 {
  gap: 28px;
}

.nav_bar {
  display: flex;
  align-items: center;
  gap: 28px;
}

.cur_pointer {
  cursor: pointer;
}

.lh_120 {
  line-height: 120%;
}

.btn_img {
  left: -5px;
  bottom: -5px;
}

.mw-727 {
  max-width: 727px;
}

.btn_empezar {
  border-radius: 41px;
  background: linear-gradient(307deg, #51C8EF -13.72%, #7AF57A 102.02%);
  padding: 13px 46px;
  border: none;
}

.btn_lime {
  transition: all .3s linear !important;
  cursor: pointer;
}

.btn_lime:hover button {
  box-shadow: 0 0 20px 2px rgba(122, 245, 122, 0.608) !important;
}

.btn_lime:hover {
  transform: scale(0.97) !important;
}

.btn_emzorimg {
  left: -5px;
  bottom: -5px;
}

.py_header {
  padding-top: 100px;
  padding-bottom: 100px;
}

.z_1 {
  z-index: 1;
}

.silver_ellipse::after {
  content: '';
  position: absolute;
  width: 162px;
  height: 162px;
  background: linear-gradient(307deg, #51C8EF -13.72%, #7AF57A 102.02%);
  filter: blur(65.5px);
  border-radius: 162px;
  top: -8%;
  left: 23%;
}

.silver_ellipse1::after {
  content: '';
  position: absolute;
  width: 162px;
  height: 162px;
  background: linear-gradient(307deg, #51C8EF -13.72%, #7AF57A 102.02%);
  filter: blur(65.5px);
  border-radius: 162px;
  top: 5%;
  right: 23%;
}

.ellipse1::after {
  content: '';
  position: absolute;
  border-radius: 484px;
  opacity: 0.5;
  background: var(--linear, linear-gradient(307deg, #51C8EF -13.72%, #7AF57A 102.02%));
  filter: blur(179.9499969482422px);
  top: 15%;
  left: -25%;
  width: 484px;
  height: 484px;
}

.ellipse1::before {
  content: '';
  position: absolute;
  border-radius: 484px;
  opacity: 0.5;
  background: var(--linear, linear-gradient(307deg, #51C8EF -13.72%, #7AF57A 102.02%));
  filter: blur(179.9499969482422px);
  bottom: -39%;
  right: -23%;
  width: 484px;
  height: 484px;
}

/* --------Mision----------- */
.br_16 {
  border-radius: 16px;
}

.mw_530 {
  max-width: 538px !important;
}

.text_parrot {
  color: #7AF57A !important;
}

.mision_padding {
  padding-top: 70px;
  padding-bottom: 100px;
}

.shadow_black {
  bottom: -32px !important;
  right: 20px;
  left: 74px;
}

.blend_shadow {
  background-blend-mode: multiply !important;
  mix-blend-mode: multiply !important;
}

.navicon {
  display: none !important;
}

.img_hov,
.img_hov1 {
  transition: all .3s linear;
}

.img_hov:hover {
  transform: translateY(-7px);
}

.img_hov1:hover {
  transform: scale(1.01);
}

/* --------------Atributos---------------- */
.bg_atributos {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: white;
}


.text_greenblack {
  color: #00141B !important;
}

.pt_200 {
  padding-top: 200px;
}

.lh_130 {
  line-height: 130%;
}

.pt_60 {
  padding-top: 60px;
}

.mw_273 {
  max-width: 273px !important;
}

.dotted_img {
  right: -84px;
  top: -3px;
}

.dotted_img2 {
  left: -93px;
  top: 67px;
}

.pb_50 {
  padding-bottom: 50px;
}

.mw_904 {
  max-width: 904px !important;
}

.mb_40 {
  margin-bottom: 40px;
}

.br_8 {
  border-radius: 8px;
}

.black_layer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 8px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.72) 0%, rgba(0, 0, 0, 0.72) 100%);
  transition: all .3s linear !important;
  opacity: 0;
}

.black_layer {
  transition: all .3s linear !important;
}

.img_hover1:hover .black_layer::after {
  opacity: 1;
}

.btn_none {
  opacity: 0;
  transition: all .3s linear !important;
}

.img_hover1:hover .btn_none {
  opacity: 1 !important;
  transition: all .3s linear !important;
}

.img_hover1 {
  transition: all .3s linear !important;
}

/* --------------jackpot------------- */

.bg_jackpot {
  background-image: url('./assets/images/png/bg-jackpot.png');
  width: 100%;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 90px;
  padding-bottom: 70px;
}

.pb_80 {
  padding-bottom: 80px;
}

.lanza_box {
  padding-top: 96px;
  padding-bottom: 96px;
  border-radius: 16px;
  border: 0.5px solid #FFF;
  backdrop-filter: blur(29.200000762939453px);
  max-width: 1040px !important;
}

.mw_389 {
  max-width: 389px !important;
}

.mix_blend_light {
  mix-blend-mode: plus-lighter !important;
}

.shadow_hover:hover {
  box-shadow: 7px 9px 15px 0px rgba(0, 0, 0, 0.20) !important;
}

/* -------------casino---------------------- */
.bg_white2 {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: white;
}

.razon_box {
  max-width: 374px !important;
  color: black;
  width: 100% !important;
  transition: all .3s linear !important;
}

.razon_box {
  border-radius: 17.34px;
  background: linear-gradient(124deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.03) 101.73%);
  backdrop-filter: blur(31.478700637817383px);
  position: relative;
  padding: 0.5px;
}

.razon_box::after {
  content: "";
  position: absolute;
  border-radius: inherit;
  padding: inherit;
  background: linear-gradient(306.99deg, rgba(81, 200, 239, 0.5) -13.72%, rgba(122, 245, 122, 0.5) 102.02%);
  inset: 0;
  -webkit-mask: linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  pointer-events: none;
}

.razon_box:hover {
  box-shadow: 0 0 20px 2px rgba(122, 245, 122, 0.608) !important;
}

.razon_padding_box {
  padding: 24px 0 24px 30px;
  gap: 25px;
}

.razons_padding {
  padding-top: 80px;
  padding-bottom: 80px;
}

/* -------------------silver------------ */
.silver_box {
  border-radius: 16px;
  border: 0.5px solid rgba(255, 255, 255, 0.50);
  background: linear-gradient(307deg, rgba(81, 200, 239, 0.06) -13.72%, rgba(122, 245, 122, 0.06) 102.02%);
  padding-top: 30px;
  padding-bottom: 30px;
}

.mw_338 {
  max-width: 338px;
}

.silver_box1 {
  border-radius: 16px;
  border: 0.5px solid rgba(255, 255, 255, 0.50);
  background: linear-gradient(307deg, rgba(81, 200, 239, 0.06) -13.72%, rgba(122, 245, 122, 0.06) 102.02%);
}

.bg_luxury {
  background-image: url('./assets/images/png/luxuryimg.png');
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 30px;
}

.mw_388 {
  max-width: 388px;
}

.mw_365 {
  max-width: 365px;
}

.mw_419 {
  max-width: 419px;
}

.red_dice {
  bottom: 14%;
  right: 13%;
}

.heart_a_card {
  top: 12%;
  right: 9%;
}

.green_coin {
  top: 20%;
  left: 13%;
}

.diamond_a_card {
  bottom: 9%;
  left: 5%;
}

.lanza_tu_box {
  border-radius: 16px;
  border: 0.5px solid rgba(255, 255, 255, 0.50);
  background: linear-gradient(307deg, rgba(81, 200, 239, 0.06) -13.72%, rgba(122, 245, 122, 0.06) 102.02%);
}

.bg_lanza {
  background-image: url('./assets/images/png/lanzalayertu.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
}

.py_lazatu {
  padding: 60px 0 70px 0;
}

.mw_557 {
  max-width: 557px !important;
}

.mw_369 {
  max-width: 369px !important;
}

/* ----------ellos--------- */
.ellos_ellipse1::after {
  content: '';
  position: absolute;
  border-radius: 484px;
  opacity: 0.5;
  background: linear-gradient(307deg, #51C8EF -13.72%, #7AF57A 102.02%);
  filter: blur(179.9499969482422px);
  height: 484px;
  width: 484px;
  top: -55%;
  right: -23%;
}

/* ----------------footer----------- */

.footer_link {
  transition: all .3s linear;
}

.footer_link::after {
  content: '';
  position: absolute;
  background-color: white;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -7px;
  transition: all .3s linear;
  border-radius: 2px;
}

.footer_link:hover::after {
  width: 100%;
}

.footer_link:hover {
  opacity: 1;
}

.footer_icon {
  transition: all .3s linear !important;
}

.tr_linear {
  transition: all .3s linear !important;
}

.footer_icon:hover svg rect {
  fill: #000;
  fill-opacity: 1;
}

.footer_icon:hover {
  transform: translatey(-5px);
}

.border_footer {
  border-top: 1px solid #ffffff30;
}

.ellipse_footer1::after {
  content: '';
  position: absolute;
  width: 180px;
  height: 180px;
  background: linear-gradient(307deg, #51C8EF -13.72%, #7AF57A 102.02%);
  opacity: 0.5;
  filter: blur(75.30000305175781px);
  border-radius: 90px;
  bottom: 30%;
  right: -6%;
}

.ellipse_footer1::before {
  content: '';
  position: absolute;
  width: 180px;
  height: 180px;
  background: linear-gradient(307deg, #51C8EF -13.72%, #7AF57A 102.02%);
  opacity: 0.5;
  filter: blur(75.30000305175781px);
  border-radius: 90px;
  bottom: 0;
  left: -7%;
}

/* -------back-to-top------------ */
.back_to_top {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 30px;
  right: 30px;
  z-index: 5;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 55px;
  background: linear-gradient(307deg, #51C8EF -13.72%, #7AF57A 102.02%);
  animation: name 2500ms infinite ease-in-out;
}


@keyframes name {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0px);
  }
}

.mw_35 {
  max-width: 21px;
}

/* ------------prelaoder------------ */
.loader_bg_linear {
  background: linear-gradient(307deg, rgba(81, 200, 239, 0.06) -13.72%, rgba(122, 245, 122, 0.06) 102.02%);
}

.loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 8px solid #fff;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 8px solid #fff;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 8px solid #fff;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

/* ---------------accordian------------ */
.accordion {
  --bs-accordion-bg: transparent !important;
  --bs-accordion-btn-focus-box-shadow: unset !important;
}

.accordion-item {
  border-radius: 6px !important;
  border: 0.5px solid rgba(255, 255, 255, 0.50) !important;
  margin-bottom: 32px;
  max-width: 970px !important;
}

.accordion-button:not(.collapsed) {
  background: transparent !important;
  box-shadow: none !important;
}

.accordion-button::after {
  background-image: url('./assets/images/png/addsign.png') !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: unset !important;
  width: 20px !important;
  height: 3px !important;
  background-color: #fff !important;
}

.accordion-button {
  padding: 16px 20px 16px 20px !important;
}

.accordion-body {
  padding: 0 20px 16px 20px !important;
}

.mw_880 {
  max-width: 880px !important;
}

.accordian_ellipse1::after {
  content: '';
  position: absolute;
  border-radius: 396px;
  opacity: 0.5;
  background: var(--linear, linear-gradient(307deg, #51C8EF -13.72%, #7AF57A 102.02%));
  filter: blur(179.9499969482422px);
  width: 396px;
  height: 394px;
  top: -8%;
  left: -21%;
}

.razon_ellipse1::after {
  content: '';
  position: absolute;
  border-radius: 440px;
  opacity: 0.5;
  background: var(--linear, linear-gradient(307deg, #51C8EF -13.72%, #7AF57A 102.02%));
  filter: blur(179.9499969482422px);
  width: 440px;
  height: 440px;
  top: -44%;
  left: -21%;
}

.razon_ellipse1::before {
  content: '';
  position: absolute;
  border-radius: 440px;
  opacity: 0.5;
  background: var(--linear, linear-gradient(307deg, #51C8EF -13.72%, #7AF57A 102.02%));
  filter: blur(179.9499969482422px);
  width: 440px;
  height: 440px;
  bottom: -6%;
  right: -23%;
}

.ofertas_ellipse1::after {
  content: '';
  position: absolute;
  border-radius: 484px;
  opacity: 0.5;
  background: var(--linear, linear-gradient(307deg, #51C8EF -13.72%, #7AF57A 102.02%));
  filter: blur(179.9499969482422px);
  width: 484px;
  height: 484px;
  bottom: 10%;
  left: -23%;
}

.jackpot_ellipse::after {
  content: '';
  position: absolute;
  border-radius: 484px;
  opacity: 0.5;
  background: var(--linear, linear-gradient(307deg, #51C8EF -13.72%, #7AF57A 102.02%));
  filter: blur(179.9499969482422px);
  width: 484px;
  height: 484px;
  bottom: -4%;
  right: -14%;
}

.jackpot_ellipse::before {
  content: '';
  position: absolute;
  border-radius: 484px;
  opacity: 0.5;
  background: var(--linear, linear-gradient(307deg, #51C8EF -13.72%, #7AF57A 102.02%));
  filter: blur(179.9499969482422px);
  width: 484px;
  height: 484px;
  top: -27%;
  left: -14%;
}

.mid_ellipse::after {
  content: '';
  position: absolute;
  background: linear-gradient(307deg, #51C8EF -13.72%, #7AF57A 102.02%);
  opacity: 0.7;
  filter: blur(65.5px);
  width: 100px;
  height: 100px;
  top: 37%;
  left: -9%;
}

@media (min-width:576px) {
  .razon_padding_box {
    padding: 24px 0 24px 56px;
    gap: 37px;
  }

  .mw_35 {
    max-width: 30px;
  }

  .lanza_tu_box {
    border-radius: 16px;
    border: 0.5px solid rgba(255, 255, 255, 0.50);
    background: linear-gradient(307deg, rgba(81, 200, 239, 0.06) -13.72%, rgba(122, 245, 122, 0.06) 102.02%);
  }

  .bg_lanza {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .back_to_top {
    width: 55px;
    height: 55px;
  }

  .silver_box {
    border-radius: 16px;
    border: 0.5px solid rgba(255, 255, 255, 0.50);
    background: linear-gradient(307deg, rgba(81, 200, 239, 0.06) -13.72%, rgba(122, 245, 122, 0.06) 102.02%);
    padding-top: 55px;
    padding-bottom: 35px;
  }

  .bg_luxury {
    background-image: url('./assets/images/png/luxuryimg.png');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 55px;
    padding-bottom: 45px;
  }
}

@media (min-width:768px) {
  .mw_md_883 {
    max-width: 883px;
  }

  .py_lazatu {
    padding: 40px 0 70px 0;
  }

  .mw_md_558 {
    max-width: 550px !important;
  }

  .mw_md_520 {
    max-width: 580px !important;
  }
}

@media (min-width:992px) {
  .bg_atributos {
    background-image: url('./assets/images/png/bg-white.png');
    width: 100%;
    background-position: start;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 160px;
    padding-bottom: 160px;
    background-color: unset;
  }

  .py_lazatu {
    padding: 150px 0;
  }

  .mw_390 {
    max-width: 390px !important;
  }

  .razons_padding {
    padding-top: 100px;
    padding-bottom: 150px;
  }

  .bg_white2 {
    background-image: url('./assets/images/png/bgwhite2.png');
    width: 100%;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: unset;
  }

  .pt_lg_60 {
    padding-top: 60px !important;
  }

  .mw_505 {
    max-width: 505px;
  }

  .mw_444 {
    max-width: 444px;
  }

  .mw_526 {
    max-width: 526px;
  }

  .mw_263 {
    max-width: 263px;
  }

  .pb_150 {
    padding-bottom: 150px;
  }

  .mb_60 {
    margin-bottom: 60px;
  }

  .mw_lg_364 {
    max-width: 364px;
  }

  .bg_jackpot {
    background-image: url('./assets/images/png/bg-jackpot.png');
    width: 100%;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-bottom: 70px;
  }
}

@media (min-width:1200px) {
  .custom_container {
    max-width: 1170px !important;
  }

  .diamond_a_card {
    bottom: 12%;
    left: 12%;
  }

  .min_lg_100vh {
    min-height: 100vh;
  }

  .bg_white2 {
    background-image: url('./assets/images/png/bgwhite2.png');
    width: 100%;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 280px;
    padding-bottom: 280px;
    background-color: unset;
  }

  .bg_atributos {
    background-image: url('./assets/images/png/bg-white.png');
    width: 100%;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 240px;
    padding-bottom: 240px;
    background-color: unset;
  }

  .bg_jackpot {
    background-image: url('./assets/images/png/bg-jackpot.png');
    width: 100%;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 90px;
    padding-bottom: 100px;
  }

  .mw_558 {
    max-width: 558px !important;
  }
}

@media (max-width:992px) {
  .nav_bar {
    position: fixed !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #00141B;
    min-height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    gap: 28px;
    transition: all .3s linear;
    z-index: 6 !important;
  }

  .left_100 {
    left: -100%;
  }

  .left_0 {
    left: 0;
  }

  .navicon {
    position: relative;
    z-index: 6;
    display: flex !important;
    flex-direction: column;
    gap: 7px;
    justify-content: center;
    align-items: center;
  }

  .navicon span {
    width: 30px;
    height: 4px;
    background-color: white;
    border-radius: 3px;
    transition: all .3s linear;
  }

  .overflow_hidden {
    overflow: hidden;
  }

  .cross {
    transition: all .3s linear;
    padding-top: 20px;
    background-color: transparent;
  }

  .cross .crl-1 {
    transform: rotate(50deg) translate(15px, 15px);
  }

  .cross .crl-2 {
    transform: translateX(-50%);
    opacity: 0;
  }

  .cross .crl-3 {
    transform: rotate(-50deg) translateY(-50%);
  }
}

/* ------Font-Size------ */
:root {
  --fs-sm: 16px;
  --fs-md: 20px;
  --fs-lg: 32px;
  --fs-xl: 48px;
  --fs-2xl: 72px;
}

@media (max-width:576px) {
  :root {
    --fs-2xl: 43px;
    --fs-xl: 30px;
    --fs-lg: 28px;
  }
}

@media (max-width:768px) and (min-width:576px) {
  :root {
    --fs-2xl: 57px;
  }
}

@media (min-width:992px) and (max-width:1200px) {
  :root {
    --fs-xl: 35px;
    --fs-2xl: 60px;
  }
}

.fs_sm {
  font-size: var(--fs-sm);
}

.fs_md {
  font-size: var(--fs-md);
}

.fs_lg {
  font-size: var(--fs-lg);
}

.fs_xl {
  font-size: var(--fs-xl);
}

.fs_2xl {
  font-size: var(--fs-2xl);
}